@inherits LayoutsBase

<style>
    html{
        background-color: @(!string.IsNullOrEmpty(CorFundo) ? CorFundo : "white");
        color: @(!string.IsNullOrEmpty(CorTexto) ? CorTexto : "white");
    }
</style>

<div class="page" style="@($"background-color: {CorFundo}; color: {CorTexto}; height: 100vh; display: flex; flex-direction: column;")">
    <main style="flex: 1; display: flex; flex-direction: column; overflow: hidden;">
        <AppBar isDarkMode="@(ThemeService?.IsDarkTheme() ?? false)" 
                OnAvatarMenuClick="OnAvatarMenuItemClick" 
                OnChangeThemeButtonClick="TesteClick" 
                AppName="eTasks" 
                PageTitle="@Title" 
                ChangeThemeButtonTip="@Dica" 
                OnMainMenuItemClick="OnMainMenuItemClick"
                SelectedMenuItem="@((MainMenuItemType)menuTeste!.MenuSelected)" />


        <article class="content px-4 user-select-none" style="flex: 1; overflow-y: auto;">
            @if(!isMobile)
            {
                <div class="row">
                    <div class="col-6">
                        <ListsContainer SelectedMenuItem="@((MainMenuItemType)menuTeste!.MenuSelected)" />
                        <button @onclick="GoAbout">About</button>
                    </div>
                    <div class="col-6">
                        @Body
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <ListsContainer SelectedMenuItem="@((MainMenuItemType)menuTeste!.MenuSelected)" />
                        <button @onclick="GoAbout">About</button>
                    </div>
                </div>
            }
        </article>

        <ActionButton IsDarkMode="@(ThemeService?.IsDarkTheme() ?? false)" OnClick="GoGoogle" />
    </main>
</div>

@code {

    [Inject] public MenuTeste? menuTeste { get; set; }

    protected string Title { get; set; } = "Minhas Tarefas";
    protected string Dica { get; set; } = "Tema escuro";
    protected MainMenuItemType SelectedMainMenuItem { get; set; }

    protected void GoAbout()
    {
        navigationManager?.GoTo("about");
    }

    private void TesteClick()
    {
        ThemeService?.ChangeTheme();
        ThemeChange = ThemeService?.IsDarkTheme() ?? false;
        ChangeTheme();
    }

    protected void GoGoogle()
    {
        navigationManager?.NavigateTo("https://github.com/rafael-figueiredo-alves");
    }

    protected async Task OnMainMenuItemClick(MainMenuItemType mainMenuItemType)
    {
        await Task.CompletedTask;
        switch (mainMenuItemType)
        {
            case MainMenuItemType.Home:
                Title = "Visão geral";
                navigationManager?.GoHome();
                break;
            case MainMenuItemType.Tasks:
                Title = "Minhas Tarefas";
                Console.WriteLine("Tarefas");
                break;
            case MainMenuItemType.Goals:
                Title = "Minhas metas";
                Console.WriteLine("Metas");
                break;
            case MainMenuItemType.Shopping:
                Title = "Listas de Compras";
                Console.WriteLine("Compras");
                break;
            case MainMenuItemType.Readings:
                Title = "Minhas Leituras";
                Console.WriteLine("Leituras");
                break;
            case MainMenuItemType.Notes:
                Title = "Minhas anotações";
                Console.WriteLine("Anotações");
                break;
            case MainMenuItemType.Finance:
                Title = "Gerenciamento de Finanças";
                Console.WriteLine("Finanças");
                break;
            default:
                Title = "Visão geral";
                navigationManager?.NavigateTo("/");
                break;
        }

        //SelectedMainMenuItem = mainMenuItemType;
        menuTeste?.SetSelected((int)mainMenuItemType);
    }

    protected async Task OnAvatarMenuItemClick(AvatarMenuItemType avatarMenuItemType)
    {
        await Task.CompletedTask;
        switch (avatarMenuItemType)
        {
            case AvatarMenuItemType.Conquer:
                
                break;
            case AvatarMenuItemType.About:
                navigationManager?.GoTo("about");
                break;
            case AvatarMenuItemType.Setup:
                
                break;
            case AvatarMenuItemType.Language:

                break;
            case AvatarMenuItemType.Theme:
                TesteClick();
                break;
            default:
                navigationManager?.NavigateTo("/");
                break;
        }
    }
}
