@using Microsoft.JSInterop
@using eTasks.Components.Dialog
@inherits MainLayoutBase

<style>
    html{
    background-color: @(!string.IsNullOrEmpty(CorFundo) ? CorFundo : "white");
    color: @(!string.IsNullOrEmpty(CorTexto) ? CorTexto : "white");
    }
</style>

<ToastMessage />

<ModalDialog IsDarkMode="@ThemeChange" DialogTextsDict="DialogTexts" />

<div class="page" style="@($"background-color: {CorFundo}; color: {CorTexto}; height: 100dvh; display: flex; flex-direction: column;")">
    <main style="flex: 1; display: flex; flex-direction: column; overflow: hidden;">
        <AppBar isDarkMode="@ThemeChange"
                OnAvatarMenuClick="OnAvatarMenuItemClick" 
                OnChangeThemeButtonClick="OnChangeTheme" 
                AppName="eTasks" 
                PageTitle="@Title" 
                ChangeThemeButtonTip="@DicaTrocarIdiomaMainNavBar"
                MenuButtonTip="@MenuButtonTip"
                AvatarMenuButtonTip="@AvatarMenuHint"
                OnMainMenuItemClick="OnMainMenuItemClick"
                SelectedMenuItem="@MainMenuService!.MainMenuItemSelected" 
                MenuTexts="MenuTexts" 
                AvatarMenuTexts="AvatarMenuTexts" 
                UserName="Anônimo" 
                AvatarPath="" />

        <LanguageMenu IsDarkMode="@ThemeChange" 
                      OnSelectLanguage="OnSelectedLanguage" 
                      SelectedLanguage="@CurrentLanguage"
                      LanguageMenuTitle="@LangageMenuTitle" />

        <article class="content px-4 user-select-none" style="flex: 1; overflow-y: auto;">
            @if(!IsMobile)
            {
                <div class="row">
                    <div class="col-6">
                        <ListsContainer SelectedMenuItem="@MainMenuService!.MainMenuItemSelected" />
                    </div>
                    <div class="col-6">
                        @Body
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <ListsContainer SelectedMenuItem="@MainMenuService!.MainMenuItemSelected" />
                    </div>
                </div>
            }
        </article>

        <ActionButton IsDarkMode="@ThemeChange" OnClick="GoGoogle" Hint="@ActionButtonHint" />
    </main>
</div>
