@inherits AccordionItemBase

<style>
    .accordion-button.collapsed::after {
        background-image: url(@imagemSeta);
    }

    .accordion-button:not(.collapsed)::after {
        background-image: url( @imagemSeta );
    }
</style>

<script>
    window.CloseAccordionItem = function (itemId) {
        const element = document.getElementById(itemId);
            if (!element) {
                console.error(`Accordion item with ID ${itemId} not found.`);
                return;
            }

            const bsCollapse = new bootstrap.Collapse(element, {
                toggle: false
            });

            bsCollapse.hide();
    };
</script>

<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button AccordionItem-RemoveBorder @(IsDarkMode ? "AccordionItem-DarkMode" : "AccordionItem-LightMode") @(Expanded ? "" : "collapsed")" type="button" data-bs-toggle="collapse" data-bs-target="#@(ID)" aria-expanded="true" aria-controls="@(ID)">
            @Title
        </button>
    </h2>
    <div id="@(ID)" class="accordion-collapse collapse @(Expanded ? "show" : "")">
        <div class="accordion-body AccordionItem-Container-Body @(IsDarkMode ? "AccordionItem-DarkMode" : "AccordionItem-LightMode")" style="@(BodyHeight != null ? $"height: {BodyHeight}" : "")">
            @ChildContent
        </div>
    </div>
</div>
