@page "/about"
@inherits AboutBase

<style>
    html {
        background-color: @CorFundo;
        color: @CorTexto;
    }

    .LayoutView {
        background-color: @ColorPallete.GetColor(Cor.Background,false);
        color: @ColorPallete.GetColor(Cor.Text,false);
    }

    .LayoutView-dark {
        background-color: @ColorPallete.GetColor(Cor.Background, true);
        color: @ColorPallete.GetColor(Cor.Text, true);
    }
</style>

<LayoutView Layout="TipoLayout">
    <div class="@(ThemeService!.IsDarkTheme() ? "LayoutView-dark" : "LayoutView")">
    <NavBar IsMobile="@isMobile" Title="Novo Lançamento" OnBackButtonClick="Voltar" IsDarkMode="@(ThemeService?.IsDarkTheme() ?? false)" BackButtonText="@BackButtonHint" />
<h3>About @Versao</h3>
<Teste2></Teste2>
 </div>
</LayoutView>
