@inherits PageNotFoundBase

<PageTitle>Página não encontrada</PageTitle>

<div class="container-fluid body @Background">
    <div class="row" style="height: 100vh;">
        <div class="col-md-6 align-self-center">
            <PageNotFoundImage LineStroke="@LineStroke" ImageFill="@ImageFill" />
        </div>
        <div class="col-md-6 align-self-center" style="color: @TextColor">
            <h1>404</h1>
            <h2>@Titulo</h2>
            <p>
                @TextoExplicativo
            </p>
            <button class="btn btn-outline-primary" @onclick="GoHome">@TextoBotao</button>
        </div>
    </div>
</div>
