@page "/about"
@using eTasks.Components.Enums
@using eTasks.View.Pages.OtherPages.About.Components;
@implements IDisposable
@inherits AboutBase

<style>
    html, body {
        background-color: @CorFundo;
        color: @CorTexto;
    }

    .LayoutView {
        background-color: @ColorPallete.GetColor(Cor.Background,false);
        color: @ColorPallete.GetColor(Cor.Text,false);
    }

    .LayoutView-dark {
        background-color: @ColorPallete.GetColor(Cor.Background, true);
        color: @ColorPallete.GetColor(Cor.Text, true);
    }
</style>

<LayoutView Layout="TipoLayout">
    <div class="@(async () => await ThemeService!.IsDarkTheme() ? "LayoutView-dark" : "LayoutView")">
        <NavBar IsMobile="@IsMobile" Title="About eTasks" OnBackButtonClick="Voltar" NavBarButtonsKind="@NavBarButtonsKind.OnlyUpdate" IsDarkMode="@ThemeChange" BackButtonText="@BackButtonHint" />
        
        <About_Heading isDarkTheme=@ThemeChange AppVersion="@Versao" Language="@Language"  />

        <About_Changelog isDarkTheme=@ThemeChange />

@*         <div class="changelog-container">
            <h3 class="changelog-title" style="color: @CorDestaques">Histórico de versão</h3>
            <div class="changelog" style="border: 2px solid @CorDestaques;">
                <p style="color: @CorNormal;">
                    <strong style="color: @CorDestaques">14/07/2025 - versão 2.0.1</strong><br />
                    - Implementado recurso Minha Leitura<br />
                    - Realizados ajustes gráficos na interface<br />
                    - Solucionados bugs no login
                </p>
                <p style="color: @CorNormal;">
                    <strong style="color: @CorDestaques">25/12/2024 - versão 2.0.0</strong><br />
                    - Lançamento da versão 2.
                </p>
            </div>
        </div> *@

        <About_Footer isDarkTheme=@ThemeChange />
 </div>
</LayoutView>
