@page "/about"
@using eTasks.Components.Enums
@using eTasks.View.Pages.OtherPages.About.Components;
@implements IDisposable
@inherits AboutBase

<style>
    html, body {
        background-color: @CorFundo;
        color: @CorTexto;
    }

    .LayoutView {
        background-color: @ColorPallete.GetColor(Cor.Background,false);
        color: @ColorPallete.GetColor(Cor.Text,false);
    }

    .LayoutView-dark {
        background-color: @ColorPallete.GetColor(Cor.Background, true);
        color: @ColorPallete.GetColor(Cor.Text, true);
    }
</style>

<LayoutView Layout="TipoLayout">
    <div class="@(async () => await ThemeService!.IsDarkTheme() ? "LayoutView-dark" : "LayoutView")">
        <NavBar IsMobile="@IsMobile" Title="@Titulo" OnBackButtonClick="Voltar" NavBarButtonsKind="@NavBarButtonsKind.OnlyUpdate" IsDarkMode="@ThemeChange" BackButtonText="@BackButtonHint" />
        
        <About_Heading isDarkTheme=@ThemeChange AppVersion="@Versao" Language="@Language"  />

        <About_Changelog isDarkTheme=@ThemeChange Changelogs="@Changelogs" />

        <About_Footer isDarkTheme=@ThemeChange Language="@Language" />
 </div>
</LayoutView>
