@using eTasks.Components.Containers
@inherits ModalDialogBase

<div class="modal fade" id="@ModalId" tabindex="-1" data-bs-backdrop="static" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content @(IsDarkMode ? "ModalDialog-DarkMode" : "ModalDialog-LightMode")">
            <div class="modal-header ModalDialog-remove-bordas ModalDialog-Header-settings @(IsDarkMode ? "ModalDialog-DarkMode" : "ModalDialog-LightMode")">
                <img src="@DialogIcon" height="40" width="40" title="" />
                <h5 class="modal-title Title-settings @(IsDarkMode ? "ModalDialog-DarkMode" : "ModalDialog-LightMode")" id="modalLabel">@Titulo.ToUpper()</h5>
            </div>
            <div class="modal-body ModalDialog-remove-bordas @(IsDarkMode ? "ModalDialog-DarkMode" : "ModalDialog-LightMode") d-flex justify-content-center align-items-center" style="flex-direction: column">
                @((MarkupString)Mensagem)

                @if(DialogType == Enums.DialogType.Error && (!string.IsNullOrEmpty(MaisDetalhes)))
                {
                    <Accordion IsDarkMode=@IsDarkMode Style="margin-top: 10px; width: 100%">
                        <AccordionItem @ref=ErrorDetailItem Title="@TituloMaisDetalhes" BodyHeight="100px" Expanded=@DetalhesExpanded>
                            @MaisDetalhes
                        </AccordionItem>
                    </Accordion>
                }
            </div>
            <div class="modal-footer ModalDialog-remove-bordas @(IsDarkMode ? "ModalDialog-DarkMode" : "ModalDialog-LightMode")">
                @if (DialogType == Enums.DialogType.Error)
                {
                    <img src="@(basePath + "CopyBtn.png")" height="40" width="40" class="HandPoint-cursor-button" title="Copiar/Copy" role="button" @onclick=OnCopyButtonClick />
                }
                else
                {
                    if ((DialogType == Enums.DialogType.Confirm) || (DialogType == Enums.DialogType.ConfirmDelete))
                    {
                        <img src="@(basePath + "CancelBtn.png")" height="40" width="40" class="HandPoint-cursor-button" title="" data-bs-dismiss="modal" role="button" @onclick=OnCancelButtonClick />
                    }
                }
                <img src="@(basePath + "OkBtn.png")" height="40" width="40" class="HandPoint-cursor-button" title="" data-bs-dismiss="modal" @onclick=OnConfirmButtonClick role="button" />
            </div>
        </div>
    </div>
</div>
