@inherits ButtonBarBase

<div class="d-flex col-2 justify-content-end text-end" style="height: 60px;">
    @if((Botoes != null) && (Botoes.Count > 0))
        @foreach(BarButton Botao in Botoes)
        {
            @if(Botao.Visible)
            {
                @if (!string.IsNullOrEmpty(Botao.OffcanvasMenuID))
                {
                    <img src="@(basePath + Botao.Imagem)" height="40" width="40" style="margin-top: 2px;margin-right: 10px;cursor:pointer;" title="@Botao.DicaTela" data-bs-toggle="offcanvas" href="@Botao.OffcanvasMenuID" role="button" />
                }
                else
                {
                    <img src="@(basePath + Botao.Imagem)" height="40" width="40" style="margin-top: 2px;margin-right: 10px;cursor:pointer;transition: transform 1s ease-in-out; transform: rotate(@rotationDeg);" title="@Botao.DicaTela" @onclick="async () => await OnClick(Botao)" />
                }
            }
        }
        @if(ShowAvatar)
        {
            <Avatar AvatarPath="@AvatarPath" OffcanvasMenuID="@AvatarOffcanvasMenuID" OnClick="@AvatarOnClick" isDarkMode="isDarkMode" AvatarHint="@AvatarHint" />
        }
</div>
