@inherits ButtonBarBase

<div class="d-flex col-2 justify-content-end text-end" style="height: 60px;">
    @if((Botoes != null) && (Botoes.Count > 0))
        @foreach(BarButton Botao in Botoes)
        {
            @if(!string.IsNullOrEmpty(Botao.OffcanvasMenuID))
            {
                <img src="@Botao.Imagem" height="40" width="40" style="margin-top: 2px;margin-right: 10px;cursor:pointer;" title="@Botao.DicaTela" data-bs-toggle="offcanvas" href="@Botao.OffcanvasMenuID" role="button" />
            }
            else
            {
                <img src="@Botao.Imagem" height="40" width="40" style="margin-top: 2px;margin-right: 10px;cursor:pointer;" title="@Botao.DicaTela" @onclick=Botao.OnClick />
            }
        }
        <Avatar AvatarPath="@AvatarPath" OffcanvasMenuID="@AvatarOffcanvasMenuID" OnClick="@AvatarOnClick" />
</div>
