@inherits AvatarMenuBase

<Offcanvas OffcanvasID="AvatarMenu" EOffcanvasPerfil="true" isDarkMode="@IsDarkMode">
    <div class="offcanvas-header" style="margin-top: 5px; height: 97px;">
        <Avatar AvatarPath="@AvatarPath" AvatarHeight=97 AvatarWidth=97 AvatarMarginStyles="margin: 0;" isDarkMode=@IsDarkMode IsAbleToClick=false />
        <div class="user-select-none" style="width: 100%; height: 97px">
            <div class="user-select-none" style="text-align: end; height: 40px; width: 100%;">
                <img class="user-select-none" src="@CloseButton" height="20" width="20" style="margin: 10px; margin-left: 5px; cursor: pointer;" data-bs-dismiss="offcanvas" />
            </div>
           <div class="user-select-none" style="text-align: center; height: 27">
                <h3 class="user-select-none" style="font-size: 16px; color: @Components.ColorPallete.GetColor(Components.Cor.Primary, IsDarkMode); margin: 0px;">Rafael de Figueiredo Alves</h3>
           </div>
           <div class="user-select-none" style="height: 30px; text-align: center; margin-top: 10px;">
                <img class="user-select-none" src="@ProfileButton" height="30" width="30" style="margin-right: 20px; cursor: pointer;" data-bs-dismiss="offcanvas" title="Editar Perfil" />
                <img class="user-select-none" src="@ChangePasswordButton" height="30" width="30" style="margin-right: 20px; cursor: pointer;" data-bs-dismiss="offcanvas" title="Trocar senha" />
                <img class="user-select-none" src="@LogoutButton" height="30" width="30" style="margin-right: 20px; cursor: pointer;" data-bs-dismiss="offcanvas" title="Sair" />
           </div>
        </div>
    </div>
    <div style="@($"border: 2px solid {Components.ColorPallete.GetColor(Components.Cor.Primary, IsDarkMode)}; box-shadow: 2px 4px 4px rgba(100,100,100,0.5); height: 1px; margin-left: 5%; margin-right: 5%; margin-top: 5px;")" />

    <AvatarMenuItem IsDarkMode="@IsDarkMode" ItemType="AvatarMenuItemType.Conquer" ItemName="Conquista" OnClick="CloseMenu" />
    <AvatarMenuItem IsDarkMode="@IsDarkMode" ItemType="AvatarMenuItemType.Setup" ItemName="Configurações" />
    <AvatarMenuItem IsDarkMode="@IsDarkMode" ItemType="AvatarMenuItemType.Theme" ItemName="Tema" OnClick="@OnChangeThemeClick" />
    <AvatarMenuItem IsDarkMode="@IsDarkMode" ItemType="AvatarMenuItemType.Language" ItemName="Idioma" />
    <AvatarMenuItem IsDarkMode="@IsDarkMode" ItemType="AvatarMenuItemType.About" ItemName="Sobre" />

   @*  <div class="offcanvas-body @Theme!.ColorClass" style="color: @Theme!.ColorFontStyle" data-bs-theme="@Theme.DataBsTheme">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#cadastros-collapse" aria-expanded="false">
                    Cadastros
                </button>
                <div class="collapse" id="cadastros-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CadastrarClientes">Clientes</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CadastrarVendedores">Vendedores</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CadastrarProdutos">Produtos</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#pedidos-collapse" aria-expanded="false">
                    Pedidos
                </button>
                <div class="collapse" id="pedidos-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="CriarNovoPedido">Novo Pedido</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="VerificarPedidos">Verificar Pedidos</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ajuda-collapse" aria-expanded="false">
                    Ajuda
                </button>
                <div class="collapse" id="ajuda-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="ConsultarManual">Manual do Usuário</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="VerPagina404">Página 404</a></li>
                        <li><a style="cursor: pointer" class="link-body-emphasis d-inline-flex text-decoration-none rounded mb-1 mt-1" data-bs-dismiss="offcanvas" @onclick="VerSobre">Sobre</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> *@
</Offcanvas>
