@inherits LanguageMenuItemBase

<div class="user-select-none" style="display: flex;align-items: center;height:40px;margin-top:10px;cursor: pointer;" data-bs-dismiss="offcanvas" @onclick="OnClick">

    <div class="user-select-none" style="height: 40px;width:5px;margin-right:20px;" />

    <div class="user-select-none" style="height:40px;width:40px;margin-right:10px;" data-bs-dismiss="offcanvas">
        <img class="user-select-none" src="@ImageIcon" height="40" width="40" style="cursor: pointer;" data-bs-dismiss="offcanvas" title="@ItemName" />
    </div>
    <div class="user-select-none" style="display:flex;justify-content: center;" data-bs-dismiss="offcanvas">
        <p class="user-select-none" style="font-size: 20px; margin: 0px; color: @Components.ColorPallete.GetColor(Cor.Primary, IsDarkMode)" data-bs-dismiss="offcanvas">@ItemName</p>
        @if (Selected)
        {
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="@Components.ColorPallete.GetColor(Cor.Primary, IsDarkMode)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 10px;">
                <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
        }
    </div>
</div>
