@inherits OffcanvasBase

<div class="offcanvas @Position" tabindex="-1" id="@OffcanvasID" data-bs-backdrop="true" aria-labelledby="offcanvasExampleLabel" data-bs-theme="light" style="border-radius: @(borderRadius);width: @(Width); box-shadow: @Shadow; background-color: @Components.ColorPallete.GetColor(Cor.Background, isDarkMode)">
  @ChildContent
</div>