@page "/profile"
@using eTasks.Components.Enums
@implements IDisposable
@inherits EditProfileBase

<style>
    html, body {
        background-color: @CorFundo;
        color: @CorTexto;
    }

    .LayoutView {
        background-color: @ColorPallete.GetColor(Cor.Background,false);
        color: @ColorPallete.GetColor(Cor.Text,false);
    }

    .LayoutView-dark {
        background-color: @ColorPallete.GetColor(Cor.Background, true);
        color: @ColorPallete.GetColor(Cor.Text, true);
    }
</style>

<LayoutView Layout="TipoLayout">
    <div class="@(async () => await ThemeService!.IsDarkTheme() ? "LayoutView-dark" : "LayoutView")">
        <NavBar IsMobile="@IsMobile" Title="MEU PERFIL" OnBackButtonClick="Voltar" NavBarButtonsKind="@NavBarButtonsKind.OnlyCheck" IsDarkMode="@ThemeChange" BackButtonText="@BackButtonHint" />
<h3>Perfil do usuário</h3>
 </div>
</LayoutView>
